#type:code:value:command
#(Lines that have another form are ignored,
# but I suggest to write comments with a leading sharp character)

## sound
1:113:1:doas -u operator amixer set Master toggle &> /dev/null
1:114:1:doas -u operator amixer set Master 2db-   &> /dev/null
1:115:1:doas -u operator amixer set Master 2db+   &> /dev/null
